@mixin reset-anchor {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

@mixin reset-input {
  border: none;
  text-align: inherit;
  font-family: inherit;
}

@mixin cursor-highlight {
  cursor: pointer;
  &:hover {
    color: white!important;
    font-weight: bold!important;
    background-color: darkgray!important;
  }
  &:focus {
    color: white!important;
    font-weight: bold!important;
    background-color: darkgray!important;
  }
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@mixin button-sized {
  line-height: 30px;   // note: need to subtract padding from height to get inner line-height
  height: 40px;
  box-sizing: border-box;
  font-size: 1em;
  text-align: center!important;
  padding: 5px;
  border-radius: 5px;
}