{% block head %}

<title>BookStore</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="https://img.icons8.com/ios/50/000000/literature-filled.png">

{# Font imports #}
<link href="https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,700|Lato|Gugi&display=swap" rel="stylesheet">

<link rel="stylesheet" href="{{ asset('build/app.css') }}">

{% endblock %}